# Dart & Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/build/
*.iml
.gradle/
local.properties

# iOS & macOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/

# IntelliJ
.idea/

# Others
pubspec.lock
*.log
*.zip
*.tmp
.DS_Store